#records {
    max-height: 250px;
    overflow: scroll;
}


.game1 {
    color: #0D0D0D;
    font-style: italic;
    background-color: #A6826D;
}

.game2 {
    color: #F2BC8D;
    font-weight: bold;
    background-color: #0D0D0D;

}